@charset "UTF-8";
.GameResultView{
    margin-top:50px;
    .section-area{
        .section-header{
            .title-big{
                text-align: center;
            }
            p{
                text-align: center;
            }
        }
    }
}